<div id="<%= dom_id interview %>">
    <p><span class='job_header'>Date: </span><%= interview.date %></p>
    <p><span class='job_header'>Questions to Ask: </span><%= interview.questions_to_ask %></p>
    <p><span class='job_header'>Notes: </span><%= interview.notes %></p>
    <p><span class='job_header'>Reflections: </span><%= interview.reflections %></p>
</div>
