<%= javascript_include_tag('packs/job_table') %>
<h3><%= status %></h1>

<table class='jobs_table'>
    <tr>
        <th>Company Name</th>
        <th>Role Name</th>
        <th>Status</th>
        <th>Referral</th>
        <th>Salary Range</th>
        <th>Hourly Rate</th>
        <th>Job Posting URL</th>
        <th>Hiring Manager Name</th>
        <th>Hiring Manager Email</th>
    </tr>
    <% jobs.each do |job| %>
        <tr>
            <td><%= link_to job.company_name, job_path(job) %></td>
            <td><%= job.role_name %></td>
            <td>
            <%= select_tag(
                'status',
                options_for_select(Job::STATUSES, selected: job.status),
                prompt: "Status",
                class: 'input-block-level chzn-select status-dropdown',
                id: 'status-dropdown',
                data: {
                    remote: true,
                    method: 'patch',
                    id: job.id
                }
            ) %>
            </td>
            <td><%= job.referral %></td>
            <td><%= "#{number_to_currency(job.salary_min)} - #{number_to_currency(job.salary_max)}" %></td>
            <td><%= number_to_currency(job.hourly_rate) %></td>
            <td><%= job.url %></td>
            <td><%= job.hiring_manager_name %></td>
            <td><%= job.hiring_manager_email %></td>
        </tr>
    <% end %>
</table>

<script type="text/javascript">
  function jobStatus(chk) {
    $.ajax({
      type: "PATCH",
      url: "/jobs/"+$(chk).attr('id')+"/update_status", 
      dataType: "script",
      data: { job: {status : chk.status} }
    });
  }
</script>
